<header class="page-header">
  <h1>About the Store</h1>
</header>

<p>Welcome to the Jungle Store!</p>
<p>In this store, you will find different kinds of unique trees and plants to purchase.</p>
<p>Please browse freely, but be aware of dangerous animals lurking in the Jungle</p>